.datalist-outer {
  background-color: white;
  border-radius: 5px;
  color: #222222;
  position: absolute;
  margin-top: 2px;
  z-index: 100000;
}

.datalist-header {
  border-bottom: 1px #afafaf solid;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
}

.datalist-header .close-datalist.html-entity {
  font-size: 12px;
}

.datalist-outer .datalist option {
  padding: 0.3rem 0.3rem 0 0.3rem;
  font-size: smaller;
}

.datalist-outer .datalist option:nth-child(even) {
  background-color: #dee4ea;
}

@media screen and (min-width: 992px) {
  .datalist-outer .datalist option {
    font-size: medium;
  }
}

@media (hover: hover) and (pointer: fine) {
  .datalist-outer option:hover {
    background-color: skyblue !important;
  }
}
